* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lemonada", cursive;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
}

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: #f0dbe8e0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.5rem 1rem rgba(228, 5, 5, 0.1);
}

header .logo {
  font-size: 30px;
  color: rgba(85, 4, 78, 0.877);
  font-weight: bolder;
  font-style: oblique;
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 10px;
  color: #333;
  border-radius: 1px;
  padding: 3px;
  cursor: pointer;
  border: 2px solid rgba(41, 12, 12, 0.5);
  display: none;
}

header .navbar a {
  position: relative;
  font-size: 15px;
  padding: 3px;
  color: rgba(85, 4, 78, 0.877);
  margin: 5px;

  border: 3px;
}

header .navbar a:hover {
  color: rgb(6, 153, 109);
}

@media (max-width: 800px) {
  body {
    width: 100%;
  }

  header {
    padding: 2rem;
  }
}
@media (max-width: 570px) {
  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 5px solid rgba(175, 152, 173, 0.877);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 5px;
    padding: 5px;

    display: block;
  }

  header .navbar a:hover {
    color: rgb(6, 153, 109);
  }

  h1,
  p {
    padding: 35%;
  }
}

.home {
  display: flex;
  align-items: center;
  font-size: 15px;
  min-height: 100vh;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content {
  text-shadow: 2px 2px 5px black;
  align-content: center;
  padding: 20px;
  margin: 15px;
}

footer {
  font-size: 10px;
  text-align: center;
  padding: 10px;
  background-color: rgba(233, 192, 223, 0.637);
  color: rgba(85, 4, 78, 0.877);
}
